.login-box {
  margin-top: 64px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.login-form {
  margin-top: 8px;
  width: 100%;
}

.login-alert {
  margin-bottom: 16px;
}

.login-button {
  margin-top: 24px;
  margin-bottom: 16px;
}

.login-footer {
  text-align: center;
}
